<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Garage Examen Symfony Framework Serveur">
        <link rel="apple-touch-icon" sizes="57x38" href="/public/icon/fav-icon.png">
        <link rel="icon" type="image/png" href="/public/icon/fav-icon.png">
        <meta name="google" content="notranslate"/>
        <meta name="robots" content="noindex,nofollow">
        <meta property="og:title" content="Examen symfony">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/public/icon/fav-icon.png">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="https://garage.alexandresacre.com/">
        <meta property="og:description" content="Garage Examen Symfony Framework Serveur">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="Garage">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@garage">
        <meta name="twitter:title" content="Examen symfony">
        <meta name="twitter:description" content="Garage Examen Symfony Framework Serveur">
        <meta name="twitter:image" content="/public/icon/fav-icon.png">
        <title>Garage - {% block title %}Welcome!{% endblock %}</title> <!--On met immoloc en dehors du block Title poru que chaque fois qu'on mettra un title Immoloc - se trouvera devant-->
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
